.main {
  background-color: #fff;
  height:100%;
  width:100%;
  display:inline-block;
}

.carousel-inner  {
  text-align: center;
  margin-bottom:100px;
}

.carousel-inner img {
  /* height:350px; */
}